/* styles for Rock Paper Scissors Revisited */

/* global and reset styles */
* {
    box-sizing: border-box;
}

body {
    display: block;
    max-width: 90%;
    margin: 0 auto;
}

element{ 
    margin-top: 0px;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
}

button {
    border: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.circle-icon {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid rebeccapurple;
    background-image: linear-gradient(
    to bottom,
    rgba(7, 55, 250, 0.5),
    rgba(255, 0, 191, 0.5)
    );
    overflow: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-container {
    display: flex;
    padding: 1em;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#animation-container {
    min-height: 200px;
}

.winning-icon {
    background-color: green;
    border-radius: 50% 50%;
    opacity: 1;
    transition: opacity 1s;
}

.fade-out {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }