/* styles for Rock Paper Scissors Revisited */

/* global and reset styles */
button {
    display: block;
    margin: 20px 0px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center p {
    display: block;
    width: 50%;
    text-align: center;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}